@media(max-width: 991px) {
    .container{
        display: block;
    }
    .left-area{
        width: 100%;
        position: static;
    }
    .right-area{
        position: static;
        margin-top: 20px;
        width: 100%;
    }
    
}
@media(max-width: 769px) {
    .container{
        padding: 0;
    }
    .left-area{
        text-align: center;
        margin: 0;
    }
    .btn-area{
        justify-content: center;
    }
    .left-area p{
        width: 90%;
        margin: 0 auto;
    }
    .left-area img{
        margin: 20px auto;
    }
    .right-area .card{
        margin: 40px 20px;
    }
}